
/* Base */
html,
body,
div,
iframe,
button,
form,
label,
input,
form textarea,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
a,
nav.nav-horizontal .nav-link a,
nav.nav-vertical .nav-link a,
p,
a,
nav.nav-horizontal .nav-link a,
nav.nav-vertical .nav-link a,
ul,
li,
span,
dl,
dd,
dt,
hr,
table,
tbody,
th,
tr,
td {
    margin:0;
    padding:0;
    text-decoration:none;
    color:black;
    border:0;
}
html,
body {
    width:100%;
}
body {
    overflow-x:hidden;
    overflow-y:scroll;
}
#page-container {
    position:relative;
    overflow:hidden;
    width:100%;
    max-width:960px;
    height:100%;
    margin:0 auto;
}
.card_list {
    width:100%;
    height:100%;
}
.card_list li {
    display:inline-block;
    margin-left:-39px;
}
.card_list li:first-of-type {
    margin-left:0;
}
.card {
    width:59px;
    height:90px;
}
.card>.face_up {
    width:100%;
    height:100%;
    background:url("../img/card_layout.jpg");
}
.card>.face_down {
    width:100%;
    height:100%;
    background:url("../img/card_back.jpg");
}
.active_selection {
    box-shadow:0 0 5px 5px rgba(30, 190, 250, .6);
}
#game_area {
    width:550px;
    height:550px;
    margin:10px auto 10px auto;
}
#game_board {
    position:relative;
    box-sizing:border-box;
    width:100%;
    height:100%;
    border:10px ridge #a3530d;
    background-color:#22dc43;
    background-image:url("../img/felt.png");
    background-repeat:repeat;
}
#deck_board {
    position:relative;
    top:200px;
    left:200px;
    width:150px;
    height:150px;
    background-image:url("../img/felt.png");
    background-repeat:repeat;
}
#deck {
    position:absolute;
    top:20%;
    left:50%;
    width:59px;
    height:90px;
}
#deck:hover {
    cursor:pointer;
    box-shadow:0 0 5px 5px rgba(30, 190, 250, .6);
}
#second_deck {
    position:absolute;
    top:20%;
    left:10%;
    width:59px;
    height:90px;
}
.player {
    position:absolute;
    width:100%;
    height:100px;
}
.player .hand {
    box-sizing:border-box;
    width:300px;
    height:100px;
    margin:0 auto;
    border:5px ridge #914108;
    background:linear-gradient(to bottom, #a3530d, #994908);
}
#player_one {
    bottom:0;
}
#player_one .card:hover {
    cursor:pointer;
    box-shadow:0 0 5px 5px rgba(30, 190, 250, .6);
}
#player_two {
    bottom:41%;
    left:-41%;
    transform:rotate(90deg);
}
#player_three {
    top:0;
    transform:rotate(180deg);
}
#player_four {
    bottom:41%;
    left:41%;
    transform:rotate(-90deg);
}
